/*  Sets a minimum height to keep picture within background block  */
.about-content {
    min-height: 425px;
}

/*  Formatting for the profile picture  */
.myPicture {
    display: inline-block !important;
    width: 246px;
    height: 368px;
    background-image: url(../images/about-me.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 20px 20px 0;
    float: none;
}

/*  Formatting for the profile text  */
.about-text {
    margin: 10px;
    display: inline;
}

/*  Floats the picture along side text for medium and larger screens  */
@media (min-width: 768px) { 
    .myPicture {
        float: left;
    }
}
