/*  Formatting for the container holding each card */
.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

/*  Adds images for each project  */
.project1 {
    background-image: url(../images/attendance300_300.png);
}

.project2 {
    background-image: url(../images/sodoku.gif);
}

.project3 {
    background-image: url(../images/path.gif);
}

.project4 {
    background-image: url(../images/production_300_300.png);
}

.project5 {
    background-image: url(../images/cat_and_mouse.gif);
}

.project6,
.project7,
.project8,
.project9,
.project10,
.project11,
.project12,
.project13,
.project14,
.project15,
.project16,
.project17,
.project18 {
    background-image: url(https://via.placeholder.com/300);
}

/*  Fixed sizes for each card image  */
.card {
    min-width: 300px;
}
.card-image {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px 0 0 0;
}

/*  Formatting for the text bar across the image  */
.card-title {
    position: absolute;
    bottom: 5px;
    text-align: center;
    height: 50px;
    width: 100%;
    background-color: var(--main-blue-back-color);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: var(--dark-back-font-color);
}

.project-text-container {
    margin: 20px;
}

.project-text {
    font-size: 16px;
}

.project-text-hover {
    visibility: hidden;
    top:0;
    left:0;
    width:300px;
    height:300px;
    background-color: var(--main-blue-back-color);
    color: var(--dark-back-font-color);
}

.card:hover .project-text-hover {
  visibility: visible;
}

.card:hover .card-title {
  visibility: hidden;
}

.repository {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color: var(--light-back-font-color);
    color: var(--dark-back-font-color);
    margin: 0 0 20px 0;
    font-size: 16px;
}

h5 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

h5:hover, .repository:hover{
    color: var(--dark-back-font-color);
}

/*  Changes card positioning for larger screens */
@media (min-width: 768px) {
    .projects {
        justify-content: space-between;
    }
}