/*  Common stylings across all of the pages  */
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=IBM+Plex+Mono&display=swap');

/******  Document wide elements  ******/
:root {
    --main-blue-back-color: #117ebd;
    --dark-back-font-color: #fff;

    --secondary-back-color: #add8e6;
    --light-back-font-color: #333;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*  Common background color  */
body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: var(--secondary-back-color);
    min-width:400px;        /* Suppose you want minimum width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */

}


/******  header settings  ******/
/*  Formatting for the nav bar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 0px;
    z-index: 100;
}

/*  Formatting for the branding  */
.navbar-brand {
    background-color: var(--main-blue-back-color);
    height: 60px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
} 

.navbar-brand span {
    font-family: 'Amaranth', sans-serif;
    margin: auto;
    color: var(--dark-back-font-color);
}

/*  Formatting for the page links */
.nav-links {
    width: 100%;
    justify-content: center;
    height: 60px;
}

.nav-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--dark-back-font-color);
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
    color: var(--dark-back-font-color);
}

.nav-spacer {
    color: var(--dark-back-font-color);
    opacity: 0.5;
}

.nav-item:not(.active):hover {
    background-color: var(--main-blue-back-color);
    color: var(--dark-back-font-color);
}

a.active {
    font-weight: bolder;
    background-color: var(--secondary-back-color);
    color: var(--light-back-font-color);
    border-radius:15%;
    pointer-events: none;
}

a:not(.active) {
    text-decoration: none;
}


/******  background tile settings  ******/
.project-background {
    background-color: var(--dark-back-font-color);
    margin: 160px 30px 100px 30px;
    padding-left: 50px;
    padding-right: 50px;
}

h2 {    
    color: var(--main-blue-back-color);
    font-weight: bold;
}

.section-brand {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
    top:0;
}

hr {
    width: 100%;
    opacity: 60%;
    border: 2px solid var(--light-back-font-color);;
}


/******  footer settings  ******/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 6px solid var(--main-blue-back-color);
    color: var(--dark-back-font-color);
    text-align: center;
    width: 100%;
    height: 60px;
    font-size: small;
    display: flex;
    justify-content: center;
}

footer > span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navbar-links a {
  float: left;
  padding: 3px 6px;
  height: 40px;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navbar-links img {
  height: 25px;
}

/*  Formatting changes for large screens  */
@media (min-width: 768px) { 

    .navbar {
        height: 60px;
    }

    .navbar-brand {
        width: 150px;
        margin: 0 30px;
        justify-content: flex-start;
    }

    .nav-links {
        width: 50%;
        justify-content: flex-end;
    }

    .project-background {
        margin: 80px 30px 80px 30px;
    }
}